<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>      
            <li><a href="/catalogue">Catalogue</a></li>
            <li><a href="/stores">Stores</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>                                               
        </ul>
    </nav>
</header>

